[2019-02-21 11:16] stas-sl opened #1 "Interpolation between 2 faces in dlatent space not as meaningful as it is in qlatent space"
Hi!

First, thanks for your work!

I tried to interpolate between 2 faces in the dlatent space (18, 512) and the result seems to be not as meaningful as it is if interpolating between 2 vectors in the qlatent space (512). It kinda works but some transient images contain strange artifacts or do not look like very valid face. Did you notice this effect? Seems like not all points along the linear pat

[2019-02-21 13:23] Puzer commented on #1
Hi @stas-sl !
Actually I was able to interpolate.

person_a = # (18, 512)
person_b = # (18, 512)
for c in np.linspace(0, 1, 50):
    generate_image(c*person_a + (1-c)*person_b)

Result:
https://giphy.com/gifs/trump-hillary-stylegan-oNPDt7n8KkBlct1SA0

Yep, that's possible and it works but a lot of details are lost in this case.

For now I'm working on better way for learning more meaningful latent

[2019-02-21 13:34] Puzer commented on #1
Hi @stas-sl !
Actually I was able to interpolate.

[code]

Result:
https://giphy.com/gifs/trump-hillary-stylegan-oNPDt7n8KkBlct1SA0

Yep, that's possible and it works but a lot of details are lost in this case.

For now I'm working on better approach for learning more meaningful latent vectors by using some regularization tricks, which are somehow related to truncation trick. I'm going to commit i

[2019-02-23 07:23] stas-sl commented on #1
I did a couple of experiments to compare interpolation in different spaces.

First, I used random qlatent vectors and correspondig to them dlatent vectors obtained via the mapping network.

[code]
  1) first (left) image is `dimages` obtained via interpolation in dlatent space (8, 512)
  2) second (middle) image is `dqimages`- they are obtained via interpolation in qlatent space (512), then for ea

[2019-02-24 08:46] petergerten opened #2 "Generate random image"
I am a bit confused on how to generate a random image, as the image generation in generate_image() seems to be quite different from the main stylegan example code in pretrained_example.py.

I naively tried the following:
`generate_image(np.random.rand(18, 512))`

which does not seem to work.

[2019-02-24 08:55] petergerten commented on #2
never mind, I figured it out:

[code]

[2019-02-24 08:55] #2 closed

[2019-02-26 05:10] sam598 opened #3 "encode_images.py runs out of memory on image sequence"
When encoding a large number of images the time to set reference images to the perceptual model takes longer, and eventually the script crashes with the following error:

019-02-25 21:02:48.244097: W tensorflow/core/common_runtime/bfc_allocator.cc:271] Allocator (GPU_0_bfc) ran out of memory trying to allocate 320.00MiB.  Current allocation summary follows.
2019-02-25 21:02:48.252031: W tensorflow

[2019-02-26 05:39] sam598 commented on #3
I found this thread: https://github.com/tensorflow/tensorflow/issues/4151 which I think solves the issue.

[2019-02-26 05:39] #3 closed

[2019-02-28 09:47] Gary-Deeplearning opened #5 "How to find the attribute direction？"
Hey, Puzer, you did a nice work. I am working on generating more meaningful face images and controlling the the attributes by myself. And I found that you got the attribute direction, like smiling, age, gender. How do I get more attribute direction, like hair, color of skin or other facial expressions and so on. Do you have some script or any way? Thank you.

[2019-02-28 11:56] JunaidAsghar commented on #1
Hi stas-sl,
would you like to share the code for the matrix obtained via optimization form image?

Thanks

[2019-02-28 12:16] stas-sl commented on #1
@JunaidAsghar, I actually used `encode_images.py` script as it is written in the readme

[2019-02-28 12:42] JunaidAsghar commented on #1
@stas-sl  thanks for quick respond. Do you have idea on how to trainthe pereptual model once not everytime on each image.

[2019-02-28 13:06] stas-sl commented on #1
Only what is written here
https://www.reddit.com/r/MachineLearning/comments/anzi1t/d_stylegan_but_in_reverse_is_it_possible/

Some say you might try to train an encoder, while others say that it will not work very well.

[2019-02-28 17:20] Puzer commented on #5
Hey, @Gary-Deeplearning and thanks!
You can find my more examples here [Learn_direction_in_latent_space.ipynb](https://github.com/Puzer/stylegan-encoder/blob/master/Learn_direction_in_latent_space.ipynb).
I think that this noteook is self-explanatory, by using similar approach you can find your own directions.

[2019-03-01 01:03] fuxuliu commented on #5
@Puzer Yep, Thank you, I will check the notebook. And from the Readme, you said, **New scripts for finding your own directions will be realised soon**. Will this be released?

[2019-03-01 03:32] fuxuliu commented on #5
@Puzer And, Why used the front 8 layers when you moved the latent direction?
`new_latent_vector[:8] = (latent_vector + coeff*direction)[:8]`
Is it based on this result: which latent layer is most useful for predicting gender?
![image](https://user-images.githubusercontent.com/36039428/53614618-854e6d00-3c15-11e9-8bb0-1504be6355a6.png)

[2019-03-02 02:44] pender commented on #5
I'm confused by this too. It looks like @Puzer is training the linear regression on dlatents that he obtained from the mapping network, but I think the mapping network [just broadcasts](https://github.com/NVlabs/stylegan/blob/f3a044621e2ab802d40940c16cc86042ae87e100/training/networks_stylegan.py#L431) a single 512-length dlatent vector up to an [18, 512] tensor, i.e. all 18 layers of the dlatent t

[2019-03-02 08:12] tals opened #6 "Latent layers importance"
Hey, great analysis! :)
I've learned a lot from reading it.

Just a quick comment: the W matrix produces by the mapping network contains a vector `w` tiled in with respect to layers (so `w[0, :] == w[1, :] = ... w[n_layers - 1, :]`.
The affine transformation happens by the synthesis network.

The notebook however operates over this tiled `w`, which is why you saw the surprising behavior (since all

[2019-03-04 05:57] gradient-dissenter commented on #1
@stas-sl

Inspired by this, I trained a model (a slightly modified resnet50) to infer high-scale latent space features from a portrait photo, training the model on thousands of universally unique image-dlatent pairs. This approach may also work on the mid and low scale features as well, but I haven't tested it yet. It doesn't yield the same detail as @Puzer's awesome input optimization trick, but

[2019-03-04 11:55] Puzer commented on #1
@gradient-dissenter @stas-sl  @tals @sam598
Thanks for your meaningful comments!

My current status:
1) I'm actually playing with training an actual encoder which can predict dlatent
(without optimization trick) - I have two models for now - ResNet50 and MobileNetV2 which perform relatively similar.
2) Further improvement of optimization of dlatent - first of all we can initialize dlatent using pr

[2019-03-06 06:24] tals commented on #1
Does this work similarly to the feed-forward style transfer nets?
I've been thinking of trying this out since the optimization-based approach worked well and the problems are similar.

[2019-03-06 08:14] tals commented on #1
Does this work similarly to the feed-forward style transfer nets?
I've been thinking of trying this out, since the optimization-based approach worked well and the problems are similar.

Are you looking at this through the prism of finding the latent of a given picture, or finding "interesting" latent directions (facial hair, gender etc)?

Their general approach is so similar to yours!
The disentan

[2019-03-08 14:26] mfhbree opened #7 "Using encoder for LSUN bedroom dataset"
@Puzer you did some great work here! I'm trying to apply your encoder to the bedroom network, however the generated images are not of the same quality as the results of the FFHQ network. Initially, I changed the SGD optimizer to the Adam optimizer, because the loss decreased faster and the generated images looked more realistic. I also tried to tweak the hyperparameters, but only the amount of ite

[2019-03-18 02:47] jcpeterson commented on #7
@mfhbree can you share how you altered the optimizer? I get:

```FailedPreconditionError (see above for traceback): Attempting to use uninitialized value beta1_power```

[2019-03-18 03:04] jcpeterson commented on #1
@Puzer any chance that push is still coming?

[2019-03-18 11:37] apisarek opened #8 "Scaled loss / magic number"
Hi! Great project :)

I would like to ask where does the scale in perceptual model loss come from. I mean that line:
`self.loss = tf.losses.mean_squared_error(self.features_weight * self.ref_img_features,
                                                    self.features_weight * generated_img_features) / 82890.0`

I tried `82890.0` to factorize it `2 * 3^3 * 5 * 307` to check if it's the size of o

[2019-03-18 13:16] mfhbree commented on #7
You need to initialize the variables that the Adam optimizer adds. If you add the following line below the optimizer, it will work.
[code]

This is my optimize function:
[code]

[2019-03-18 13:47] mfhbree commented on #7
For everyone that is interested in transferring the style of bedrooms, I fixed my issue by changing the VGG16 model, which is used by the perceptual model, to the ResNet-50 model. However, the quality of the reconstructed images is still quite low, so it is only possible to interpolate coarse styles of a by StyleGAN generated image and a reconstructed image.

An example:
![transfer1](https://user-

[2019-03-18 14:32] jcpeterson opened #9 "why optimize dlatent rather than qlatent?"
The dimensionality is dlatent is 9x larger, sampling isn't as simple, interpolations are worse, and mapping to smile directions for example needs more data.

[2019-03-18 14:35] jcpeterson commented on #7
@mfhbree thanks, that worked.

Regarding LSUN, I got similar results with faces when I didn't align and the aspect ratio of the face was squeezed a bit. Is your preprocessing identical to that used for training?

[2019-03-18 17:19] jcpeterson commented on #6
@tals does this mean the encoder code also optimizes the same repeated tiled vectors incorrectly too?

[2019-03-18 17:42] pender commented on #6
@jcpeterson The encoder in this repo produces an 18x512 dlatent vector in which the layers are different, *unlike* the mapping network which as noted above produces a 1x512 dlatent vector which is tiled up to 18x512. I haven't found an easy way to create a 1x512 dlatent vector from the encoder in this repo that can be tiled to reproduce the encoded image.

I've tried:
- tiling each of the resultin

[2019-03-19 01:27] jcpeterson commented on #6
@pender Thanks for the info. That seems at odds with this repo author's post here: https://www.reddit.com/r/MachineLearning/comments/aq6jxf/p_stylegan_encoder_from_real_images_to_latent/egg4rkl

He states:
qlatent = normally distributed noise which have shape=(512)
dlatent = mapping_network(qlatent) = shape=(18, 512)

I tried Adam, and while much faster, and with lower loss, I get more artifacts.

[2019-03-19 19:13] pender commented on #6
@jcpeterson

That's technically correct, but I'm not sure he realized at that time that the (18, 512) tensor that the mapping network outputs is in fact a single (512,) tensor that is tiled to (18, 512). [But it is!](https://github.com/NVlabs/stylegan/blob/f3a044621e2ab802d40940c16cc86042ae87e100/training/networks_stylegan.py#L431)

I don't have a public fork, I've just been noodling with a copy o

[2019-03-19 23:28] Definiter commented on #9
+1. Tried to interpolate dlatent and the results didn't seem natural at all.

[2019-03-19 23:58] pender commented on #7
@mfhbree Have you tried style transfer on the dlatents that you obtain by running a random qlatent vector through the mapping net, instead of a dlatent that you get from running the encode_images script? Even though both are 18x512 arrays, the mapping net produces dlatents where all 18 layers are identical, whereas the encode_images script produces dlatents where all 18 layers are meaningfully dif

[2019-03-20 02:15] jcpeterson commented on #6
@pender That means the encoder is simply set up incorrectly. If the network is not trained to use 18 different vectors, the dlatents currently learned are out-of-distribution. It's extremely odd then that your third strategy above didn't work. Have you tried learning qlatent instead?

[2019-03-20 02:26] pender commented on #6
@jcpeterson Yes, the dlatents obtained by the encoding script are clearly out-of-distribution -- that is easily enough demonstrated by tiling a single layer of the dlatent output up to a new 18x512 dlatent and observing the fleshy horrors that emerge. (On the other hand, they are achieving their intended purposes, since they *do* reconstruct the image, and image transformations learned on native i

[2019-03-20 03:06] jcpeterson commented on #6
@pender I don't see the difference. The encoder already backprops through the generator to the dlatents. Why not just backprop through the fixed mapping network too and find a qlatent such that when mapped and then rendered etc, a good match is attained via VGG?

[2019-03-20 12:04] kohatkk commented on #1
can you share the model of modified resnet50, am not able to generate the image-dlatent with with guassian distribution.

[2019-03-24 06:33] vu0tran2 commented on #9
[Linking to reddit comment by author.
](https://www.reddit.com/r/MachineLearning/comments/aq6jxf/p_stylegan_encoder_from_real_images_to_latent/egg4rkl?utm_source=share&utm_medium=web2x)
[code]

[2019-03-24 21:29] nile649 opened #10 "Hi, I am doing the same with pytorch? so anyone could expalin a bit more,"
op = perceptual_model.optimize(generator.dlatent_variable, iterations=args.iterations, learning_rate=args.lr)

here https://github.com/Puzer/stylegan-encoder/blob/master/encode_images.py, line 62.

Is z latent vector random initialized in each iteration?

[2019-03-24 23:20] nile649 commented on #10
How is z latent learned with perceptual loss? when generator has no gradient to backpropagate.

[2019-03-25 00:15] jcpeterson commented on #9
@vu0tran2 Yes I've seen but the "elaboration" was never given. In principle I don't see why it should be worse.

[2019-03-28 18:22] nile649 commented on #10
![image](https://user-images.githubusercontent.com/32990329/55182849-f1fd4e80-5164-11e9-81a4-26e8028a975e.png)
![image](https://user-images.githubusercontent.com/32990329/55182859-f7f32f80-5164-11e9-8e75-4ba0829804ec.png)

[2019-03-28 18:37] nile649 commented on #10
Smile direction.
![image](https://user-images.githubusercontent.com/32990329/55183805-00e50080-5167-11e9-9663-65a1bbd0391e.png)

![image](https://user-images.githubusercontent.com/32990329/55183823-0a6e6880-5167-11e9-9f5a-367e22d104ff.png)

[2019-03-28 20:23] nile649 commented on #7
how did you find the direction of the change?

[2019-03-29 09:10] Fresh-Orange opened #11 "ValueError: Shape of a new variable (ref_img_features) must be fully defined, but instead was (?, 64, 64, 256)"
When I run “python3 encode_images.py aligned_images/ generated_images/ latent_representations/”，I get the errer:

Traceback (most recent call last):
  File "encode_images.py", line 86, in <module>
    main()
  File "encode_images.py", line 61, in main
    perceptual_model.build_perceptual_model(generator.generated_image)
  File "/media/data2/laixc/stylegan-encoder/encoder/perceptual_model.py", lin

[2019-04-17 07:50] YZ576023775 commented on #11
the same error,have you solved it?

[2019-04-17 08:29] Fresh-Orange commented on #11
Yes, I solved it by modifying the following two lines in `perceptual_model.py`
[code]
to
[code]

[2019-04-24 03:36] zhujiapeng commented on #8
+1

[2019-04-29 02:23] olivercoad opened #12 "Image2StyleGAN Paper?"
Just read [this Image2StyleGAN paper](https://www.researchgate.net/publication/332300501_Image2StyleGAN_How_to_Embed_Images_Into_the_StyleGAN_Latent_Space) (also here https://arxiv.org/abs/1904.03189) and it thought it looked similar if not identical to this repo, but it doesn't appear to have any references to it.

@Puzer, Can you provide any insight on whether the paper and the work you've done

[2019-04-29 10:18] matt1209 opened #13 "invalid syntax for dnnlib/__init__.py"
` submit_config: SubmitConfig = None # Package level variable for SubmitConfig which is only valid when inside the run function.`  is error with message `SyntaxError: invalid syntax`, should I just ignore this error? Thanks！

[2019-04-29 13:31] pbaylies commented on #12
@olivercoad I read that paper too; the loss function they end up with is a bit more complex, as they use both the L2 loss and several layers of VGG16; but one of their experiments (using a single layer of VGG16) is essentially the same as the solution in this repo, as far as I can tell. Also, they use Adam for the optimizer, and share the parameters they used for it.

[2019-04-30 05:28] matt1209 commented on #13
update python to 3.6

[2019-04-30 05:28] #13 closed

[2019-05-01 01:38] nile649 commented on #12
Using extra loss function doesn't changes anything regards to idea... unless it is a new loss function introduced to deep learning community. Many authors leave their work open to such improvements...

[2019-05-01 15:01] aarlo commented on #12
@Puzer Any thoughts on this? The results in the paper are really impressive.

[2019-05-05 23:19] jcpeterson commented on #6
@pender Can you please share your code for: "adapting the encoder script to optimize a single 1x512 vector that is tiled back to 18x512 before synthesizing (which didn't do a very good job of reproducing the input image)."

[2019-05-06 12:57] pbaylies commented on #6
@jcpeterson My guess as to why the encoder works better as-is, is that it has the full latent space to search through, so while the mapping network is designed to find specific points on (or near) the manifold, the encoder can find the spaces in between that look the most like the target image, even if the mapping network wouldn't be likely to find that same region given its training.

[2019-05-08 12:38] SimJeg commented on #1
Hi @Puzer, thank you for this great repo ! Do you plan to publish the work you mentioned in this thread soon ?

@kohatkk here is a code to finetune a resnet

[code]

[2019-05-08 13:16] pbaylies commented on #1
@SimJeg This looks really interesting; could you also post the code for your generate_dataset() function?

[2019-05-08 13:40] SimJeg commented on #1
Here it is !

It's quite quick and dirty as I reload Gs every time I generate a new batch. But time does not really matters here as it converge after a few batches ( = few hours). While it works perfectly for generated images, it does not really work for real world images but faces generated or somehow similar and a good starting point for optimization.

[code]

[2019-05-08 13:44] pbaylies commented on #1
@SimJeg Thank you very much! Doesn't that take up a lot of memory, generating that many images at once?

[2019-05-08 13:47] jcpeterson commented on #1
@SimJeg

Why do you think that is? Perhaps some random translations of the image by 5-10 pixels before cropping and resizing would help here?

Also, how did you use it as a starting point for optimization? Did you just run the `generator.set_dlatents(d_latent)` line before optimizing in the `encode_image.py` script? Can you post the change?

I'm starting to think we should start a fork or new repo

[2019-05-08 13:54] jcpeterson commented on #6
@pbaylies Yes, I see how it works now. I just don't like the fine-gained texture all of the encodings get. At full size, none of them have the clear quality of the actual samples. I attribute this to over-optimization using the style layers. If I can get a hold of @pender's code, I can search for the subset of the first N dlatents (higher level, less style-focused dimensions) that suffice.

[2019-05-08 22:05] pbaylies commented on #1
Ok @SimJeg et al., playing with this over in Google Colab, here's what I've come up with so far -- https://drive.google.com/open?id=1bVk6AKchrNr3u9tv3SxsgttXNCspvF01

[2019-05-09 02:18] jcpeterson commented on #1
Update: To answer my questions above, setting `generator.set_dlatents(d_latent)` indeed works and pixel shifting isn't needed as the approximate encodes work fine with out-of-sample images. Using this method and Adam I can get a decent encode in about 12 seconds.

[2019-05-13 16:40] pbaylies commented on #1
Ok, I'm happy with the performance of the encoding that I'm getting; it quickly converges to get the basics right, and then incrementally improves after that. Code follows.

ResNet StyleGAN Encoder

Much love to @Puzer and @SimJeg on GitHub for all their hard work on this; see:

https://github.com/Puzer/stylegan-encoder/

https://github.com/Puzer/stylegan-encoder/issues/1#issuecomment-490489772

E

[2019-05-14 07:30] Vinno97 commented on #1
@SimJeg Have you considered using the perceptual loss function of the encoder for your feed-forward network instead of MSE? I expect it to be _much_ slower to train, but it might result in significantly higher image quality.

I'd love to try it myself, but I don't see myself having the time to experiment with it in the near future. That's why I thought I'd share my idea here in case someone else m

[2019-05-15 16:07] pbaylies commented on #1
I've been playing with improving the encoder by updating the loss function, as well as using a pre-trained Resnet to provide a starting point for the dlatents; I'll see about forking / making a repo soon with my findings. Contributions welcome! One thing I noticed, addding an L1 loss to the dlatents themselves helps a lot, to keep them in roughly the same range as normal faces in the rest of the m

[2019-05-16 00:07] SimJeg commented on #1
Don't have much time to work on this project but it's great tok ow you had
some progress !

To answer a previous I noticed that face recovered using gradient descent
have dlatents w of size (18, 512) where the 18 vectors are not that much
correlated. It makes sense because as shown in the paper you can mix these
18 vectors to mix styles.

It would make sense training a resnet to predict not only o

[2019-05-16 00:32] pbaylies commented on #1
Hi @SimJeg -- I've started a fork, [see here](https://github.com/pbaylies/stylegan-encoder/blob/master/train_resnet.py) for the resnet training code! Currently I'm mixing up latent values and also using negative truncation for more balance and variation. Thanks for getting me started down this path!

EDIT: The repo is ready to go now, and I've added a link to a pre-trained resnet model as well: ht

[2019-05-21 01:17] tals commented on #6
When experimenting with the net, I've noticed StyleGAN behaves much better when it comes to interpolation & mixing if you "play by the rules". eg, use a single 1x512 dlatent vector to represent your target image.
With 18x512, we're kindof cheating. In fact, [Image2Stylegan](https://arxiv.org/abs/1904.03189) shows that you can encode images this way on a completely randomly initialized net! (althou

[2019-05-21 01:27] tals commented on #6
To illustrate the last point, here's a simple ablation test (this is all done in `W{1}`):

target_image:
![image](https://user-images.githubusercontent.com/761863/58061700-2c171b00-7b2c-11e9-85d7-761336565914.png)

mask:
![image](https://user-images.githubusercontent.com/761863/58061737-523cbb00-7b2c-11e9-92dc-d725f366c3a4.png)

Target = target_image * mask (so only the white pixels are optimized

[2019-05-21 01:28] pbaylies commented on #6
@tals I've also been [playing around with encoders and training a ResNet to encode](https://github.com/pbaylies/stylegan-encoder); I had some similar ideas as far as using the mapping network to generate more values for dlatents to generate examples for training. I haven't compared the distributions, though, that'd be good to know. I've been using L1 regularization to pull back towards the mean wh

[2019-05-21 01:35] tals commented on #6
Yeah the distribution doesn't look quite right, even with L1/L2 (why did you choose L1, btw?).
This is easily visible if you take the histogram of the optimized latent vs a "natural" one obtained by the mapping network.

The trick of finding a better starting position with the ResNet encoder is interesting.
It might probably work better if it gets to see the gradient from StyleGAN, instead of just

[2019-05-21 01:40] pbaylies commented on #6
@tals L1 was just the first thing I tried as a regularization penalty, but it cut down on artifacts a lot; before, I'd get more blurry results from my loss function. And yes, a good starting prediction helps.

P.S.: Thanks for the tip, I think you're right!

[2019-05-22 03:10] pender commented on #6
@jcpeterson

Here you go, I [uploaded to a forked repo today](https://github.com/pender/stylegan-encoder). Ultimately had some success. Interestingly I was able to use perceptual loss from the discriminator net instead of a separately trained image classifier net. I'm not sure if that has been done before.

[2019-05-22 18:47] pbaylies commented on #6
Thanks @pender very nice results! I merged your changes for learning rate decay, stochastic gradient clipping, and tiled dlatents into my fork as well.

[2019-05-31 23:27] jmiller656 opened #14 "Question: running on CPU?"
Do you know if it's possible to run stylegan on a GPU machine? Been trying to run a version of stylegan I've trained on my desktop machine and would like to mess around with the checkpoints while it's training. Keep seeing that the operations are specifically set to use GPU still.

Specifically, this error:
[code]

[2019-05-31 23:33] pbaylies commented on #14
@jmiller656 the original StyleGAN code is designed to be run with at least one GPU; if you just want to play around, I'd suggest using Google Colab, where you can load up a free notebook in the cloud and use one of their GPUs. Otherwise, you'd need to write or find an implementation that doesn't require a GPU.

[2019-06-01 00:59] jmiller656 commented on #14
Hmm, was trying to not have to drag my model onto google drive and deal with all that... guess I have no choice. Thanks!

[2019-06-01 00:59] #14 closed

[2019-06-09 17:16] pender commented on #6
@pbaylies thanks for your repo, I'm particularly enjoying playing with the efficientnet inverse network. Would you be willing to [turn on issues for your repo](https://help.github.com/en/articles/disabling-issues)?

Summarizing the issue I'm looking to report to you: since the effnet is trained to match dlatents in which all 18 layers are the same values (as the training targets are outputs of the

[2019-06-10 04:04] pbaylies commented on #6
@pender Thanks, I didn't realize that issues were off in my repo! They are on now. I'd be amenable to having a flag to enable using a single [1, 512] vector (or similar options, maybe a [3, 512] vector to tile up coarse, medium, and fine attributes); I'm sure it'd train faster, but I think having it wider in general ultimately yields better results, as it covers more of the latent space. I already

[2019-06-14 14:59] jakeelwes opened #15 "Fast embeddings for head pose"
Hey just wondering if there was a simple way of getting fast embeddings just for the pose/coarse style (face landmarks & headPose). I was thinking of trying a realtime generator responding to movement through a webcam input - has anyone tried this & do you think it could be possible?

[2019-06-14 15:14] pbaylies commented on #15
Hi @jakeelwes it's totally possible, @gradient-dissenter has done it. I'd suggest training a ResNet or similar to predict one or two of the coarse dlatents. I've got [code in my repo](https://github.com/pbaylies/stylegan-encoder) for training ResNets and EfficientNets, although out of the box it tries to predict all the dlatents.

[2019-06-15 13:38] jakeelwes commented on #15
Amazing, thanks @pbaylies I'll give it a go :)

[2019-06-18 16:56] #15 closed

[2019-06-19 15:41] Prashant-mahajan opened #16 "Getting numpy array of custom feature directions"
Hi,
I modified the non-linear model inputs to get different feature directions. How can I get numpy array of those feature vectors for non-linear model?
For linear model, I realized it can be obtain by making minor changes here:
[code]

Thank you!

[2019-06-21 07:49] ghost commented on #16
@Prashant-mahajan how would you get something like 'emotion' 'happiness' for the linear model?

y_emotion_data = np.array([x['faceAttributes']['emotion'] == 'happiness' for x in labels_data])?

[2019-07-02 17:45] Prashant-mahajan commented on #16
Hi @ak9250, apologies for late reply.  To get the numpy array of 'happiness' feature you can use
 `y_surprise_data = np.array([x['faceAttributes']['emotion']['surprise'] for x in labels_data])`.

@Puzer I'm stuck here, any hint would be appreciated.

[2019-07-06 11:26] rom1504 commented on #12
is there code for image2stylegan paper ?

[2019-07-06 11:40] rom1504 commented on #12
ok indeed based on what the paper says, it's really similar to this repo

[2019-07-12 09:42] simplebeauty commented on #5
@Puzer Hi, can you release the full script for finding smiling, age, gender? I am a beginner to ML. I checked Learn_direction_in_latent_space.ipynb and still fill confused. Thanks.

[2019-07-25 10:28] blackcat84 opened #17 "Cannot load network snapshot for restarting: corrupted pickles?"
I'm trying to restart a job by loading a network snapshot pickle (called network-snapshot-001283.pkl). The pickle is written during training of the previous run and loaded at the beginning of the restart by the functions at the beginning of training/misc.py.

I get the following error when trying to load the snapshot:

`_pickle.UnpicklingError: invalid load key, '<'.`

This error appears for all m

[2019-07-25 10:49] blackcat84 commented on #17
Nevermind, I've just found out that indeed the files were corrupted due to a bad file transfer between two different machines. Nothing wrong with the code.

[2019-07-25 10:49] #17 closed

[2019-08-05 07:00] adizhol opened #18 "Getting black output images"
Hi,

When I try to optimize d_latent as in the code, I start from a nice image but it transforms into a completely black image.
Adding an L2 loss between the reference and the generated image helps, but the resulting image is not similar to the reference.

Any ideas?

Thanks!

[2019-08-06 03:22] shartoo commented on #1
Hi @pbaylies  ,have you ever tried to generate higher resolution images such as 512x512 or 1024x1024 ?Can i adjust the image size in `train_resnet.py` from 256 to 512? I tried but failed,this maybe caused by restrore checkpoint from your sharing pre-trained model.

I want to edit specified human faces on higher resolution ,but the face generated by StyleGAN mostly not the same as original face one

[2019-08-06 09:33] pbaylies commented on #1
Hi @shartoo feel free to raise issues on my repo as well; on the pretrained FFHQ model, images are always generated at 1024 anyhow; you can try training a ResNet from scratch with a different input dimension, that should be fine. In my experience, you can get both quicker and better results by sticking to 256 in the encoder; to do better, you might need a smarter loss function, or you might be run

[2019-08-28 19:27] aiueogawa commented on #8
@Puzer
+1

[2019-08-30 06:19] SystemErrorWang commented on #3
@sam598 I got similar problem, would you please tell me where to modified the code? Thank you for your help in advance

[2019-08-30 06:42] SystemErrorWang commented on #3
I got similar problem, tried your modification but failed, as other parts of the codes are heavily modified and created conflicts.

[2019-09-09 00:09] ndahlquist commented on #9
I've done some experiments with optimizing dlatent vs qlatent. I've observed that when optimizing qlatent against a real image (I tried a few images of celebrities), the result does not converge to the desired target image. However, when optimizing qlatent against an image generated by sampling from qlatent space, the reconstruction converges quickly.

My intuition is that the space of qlatent is

[2019-09-11 06:54] progmars commented on #5
I just found a project that allows controlling a bunch of StyleGAN features through UI knobs:
https://github.com/SummitKwan/transparent_latent_gan

Being a total newbie at machine learning, I'm wondering, what are the main differences between Puzer's approach and transparent_latent_gan?

Another issue - transparent_latent_gan is using the smaller CelebA dataset, so that might be the reason why som

[2019-09-16 02:19] rentonliu opened #20 "How do you compute VGG loss?"
Hi Puzer,
According to your code, it seems you compute VGG loss by MSE of VGG layer 9 features of reference and generated images.
https://github.com/Puzer/stylegan-encoder/blob/1e7e47f9bbb0ca391cdc250af5ad2468250a803c/encoder/perceptual_model.py#L46

Why do your have `features_weight` in loss  ?  And why do you initialize `features_weight` by zero.(`features_weigh` is not trainable)

Thank you.

[2019-09-16 22:32] athenawisdoms opened #21 "How to encode multiple images in parallel using 2+ GPUs?"
Is it possible to encode multiple images in parallel by encoding each image on a different GPU? I am currently using `encode_images.py` when encodes a single image at a time despite having 2 GPUs.

Thank you!

[2019-09-18 07:59] #5 closed

[2019-09-18 10:32] Uha661 opened #22 "Can we modify the code to generate a latent representation to create an array of different shape?"
I'm trying to generate a latent representation with different dimension.
I've changed the shape in generate_model.py but it is still trowing the error "ValueError: Dimension 1 in both shapes must be equal, but are 1 and 18. Shapes are [1,1,512] and [?,18,512]".
Can anyone suggest me where else I should change the shape?

Please let me know if any further details are required

[2019-09-19 14:12] gsygsy96 commented on #21
Have you found the solution?

[2019-10-15 10:52] SrikarNamburu opened #24 "error while running encode.py"
**Facing this error**

Traceback (most recent call last):
  File "encode_images.py", line 80, in <module>
    main()
  File "encode_images.py", line 53, in main
    generator = Generator(Gs_network, args.batch_size, randomize_noise=args.randomize_noise)
  File "/content/gdrive/My Drive/RI/stylegan-encoder/encoder/generator_model.py", line 35, in __init__
    self.generator_output = self.graph.get_

[2019-10-21 10:42] GuillaumeMMM commented on #24
I could fix this issue by going back to using `tensorflow-gpu==1.14`

[2019-10-30 21:28] chensteven opened #25 "Question about the direction for an attribute"
Does this only work for binary labels, like smile vs. no-smile or male vs. female? Or is it possible to do it for multi-class labels like ethnicity (ie. white, black, asian)? Thanks!

[2019-11-13 12:18] UPML commented on #12
The paper refers to this repo, but in the paper they use better loss function for optimizer. They use weighted sum of losses from different layers of VGG, instead only 9's layer as is in this code.

[2019-11-14 03:37] olivercoad commented on #12
The v2 version from September does actually include a reference.

[2019-11-14 03:37] #12 closed

[2019-11-16 13:43] rushkv commented on #20
Hi!

I am not @Puzer, however, it seems he uses an output from the only one vgg layer

[2019-11-20 04:27] Radeeswar commented on #24
Hi, After installing tensorflow-gpu==1.14 I am getting error as follows. I am executing in Google Colab.

InvalidArgumentError: Cannot assign a device for operation learnable_dlatents/read: node learnable_dlatents/read (defined at /content/stylegan-encoder/encoder/generator_model.py:15) was explicitly assigned to /device:GPU:0 but available devices are [ /job:localhost/replica:0/task:0/device:CPU:

[2019-11-21 08:55] taniyaghosh29 commented on #24
I am getting the same error in Colab. Were you able to fix the issue?

[2019-11-21 16:00] rperdon opened #26 "Question on Generating latent representation of your images"
I have a question on using your own images, how many images do you require of say Trump in order to generate a latent representation?

[2019-11-21 17:09] Radeeswar commented on #24
No. It seems like problem with colab GPU. It's working in other GPU by installing tenforflow-gpu==1.14 at start without importing any libraries.

I hope it helps.

[2019-12-01 16:10] mr555ru commented on #24
Seems working for me with tensorflow-gpu==1.14 in Colab GPU runtime.

[2019-12-01 18:53] mr555ru commented on #22
I have accomplished it in my fork: [see commit diff](https://github.com/mr555ru/stylegan-encoder/commit/62bbd6cec1a352e01eeb18e50668d9e0c347d246). However, this change makes VGG16 fail to converge.

[2019-12-01 19:23] mr555ru commented on #22
So, there is a quasi-solution that I find for this issue. The default network (`Gs`) outputs an image from [1,512] vector. It has two sub-networks: `Gs.components.mapping` and `Gs.components.synthesis`. The latter outputs an image from [18,512] dimension. That's what we learn with our VGG16. The "mapping" subnetwork can translate [1,512] latents into [18,512] dlatents - but (seemingly) not vice ve

[2019-12-10 06:35] wduo commented on #25
@Puzer I have the same question. Looking forward to your reply!

[2019-12-12 11:03] sandhyalaxmiK opened #27 "Issue with session and api"
I have created an API to run this github.
For the first client, everything is executing perfectly and giving  good result. But for the second client on the same session giving error like
ValueError: Tensor("Const:0", shape=(3,), dtype=float32) must be from the same graph as Tensor("strided_slice:0", shape=(1, 256, 256, 3), dtype=float32)

Trying to resolve the issue.
Help me for this.
Thanks & Reg

[2019-12-17 08:23] #27 closed

[2019-12-17 08:24] sandhyalaxmiK commented on #27
solved the problem

[2019-12-26 11:43] wduo commented on #25
The solution is to convert multi-class labels to binary labels.

[2019-12-29 13:50] robclouth commented on #27
How did you solve it?

[2020-01-07 20:26] jkyndir commented on #26
Just one.The result would be better if it was one where the face is facing forward with good lighting condition.

[2020-01-08 14:42] rperdon commented on #26
Thanks for the response. I got it working with a single image. It turns out something odd with windows 10 paint format saving caused an issue with the image. I noted that some of my images when trying to run align_image.py on them that the resulting images would look greyscale and scanlined and some images were fine. By matching the correct bit depth and quality of the good images, I was able to g

[2020-01-08 14:42] #26 closed

[2020-01-09 06:37] jinfagang opened #28 "why using a mask?"
What does the mask using for here?

[2020-01-09 10:09] bayminbx commented on #10
@nile649  Do  you obtain the same result with pytorch? Can you share you code???Thank you.

[2020-01-17 17:01] KShivendu opened #29 "Error while using encodie_images.py file when trying to run it in colab"
`Traceback (most recent call last):
  File "encode_images.py", line 80, in <module>
    main()
  File "encode_images.py", line 51, in main
    generator_network, discriminator_network, Gs_network = pickle.load(f)
_pickle.UnpicklingError: invalid load key, '\x0a'.`

I have duplicated pickle file in my Google drive as the quota was exceeding. But, now I am getting this error. Is is because of copyin

[2020-01-20 04:43] drprajapati commented on #10
https://github.com/jacobhallberg/pytorch_stylegan_encoder/blob/master/train_image_to_latent_model.ipynb

[2020-02-07 12:21] ppries commented on #7
@mfhbree how did you get this to run exactly? I get `ValueError: Dimension 1 in both shapes must be equal, but are 18 and 14. Shapes are [1,18,512] and [?,14,512]` when trying to run with the StyleGAN model pretrained on LSUN Bedrooms (https://drive.google.com/uc?id=1MOSKeGF0FJcivpBI7s63V9YHloUTORiF). Do you have an idea as to what I'm doing wrong?

[2020-02-07 17:40] eps696 commented on #7
@ppries latent dimensions in progressive networks depend on the network resolution: 18 is for 1024x1024 models (such as ffhq), 14 is for 256x256 (such as bedrooms). you need to change that hardcoded value 18 to 14 in generator_model.py (at least) to make it fit

[2020-02-10 12:59] ppries commented on #7
Thank you, @eps696. That works.

[2020-02-11 12:09] oyvindhg commented on #24
Like Radeeswar and taniyaghosh29 I cannot make it work in Colab either. Did you do anything extra to make it work in Colab with tensorflow-gpu==1.14?

Edit: Made it work. My error was to use tensorflow==1.14, instead of tensorflow-gpu==1.14

[2020-02-11 16:13] chensteven commented on #25
Thanks. Do you have any sources that I can refer to?

[2020-03-04 08:01] danielkaifeng commented on #9
I tried to train the same encoding process and find the same problem.
Did you align the celebrities images? Since the generated images face landmarks are standard, which means eyes, mouth of all faces are exactly in the same place among all pictures.

I make lots of argumentation on generated images, the encoded result for real images become better but still far away from the same face.

[2020-03-05 09:02] jiesonshan commented on #1
@Puzer

how use LR schedules？thanks

[2020-03-17 02:23] franz101 opened #30 "Any Update for Stylegan 2?"

[2020-03-25 07:06] danielkaifeng commented on #24
I remove all tensorflow pkg and do `pip3 install tensorflow-gpu==1.14 --user`
this problem still exists.

I add `allow_soft_placement` to gpu config and didn't solve this problem.

[2020-03-26 02:35] WJ-Lai opened #31 "Why the latent code from GAN inversion methods can be manipulated by the boundary"
Hi, thanks for sharing this great work!

I have some question as follow:

1. The shape of 'donald_trump_01.npy' is (18,512) which has different values of 18 layers. However, your "smile.npy" has the same values of 18 layers. The meaning of 18 layers of 'donald_trump_01.npy' is different because the values are different, why it can edit by the same smile boundary?
Do you know why it can also work?

[2020-03-28 08:45] olivercoad commented on #31
1. What do you mean by boundary?

2. For smile direction it makes sense to only alter the coarse layers and leave the fine layers alone. I would've thought other directions such as gender and age would need to change all the layers though. ¯\\_(ツ)_/¯

[2020-03-31 00:14] arunasank commented on #8
Any luck here?

[2020-04-13 17:06] arunasank opened #33 "Reverse the changes of alignment"
Hi! Thank you for this project. I am using this project with video frames instead of images. I notice that during facial alignment, if there is a tilt in the image etc, it is straightened out. Can I reverse these effects in the image after the image has been moved along the direction of the latent vector? If yes, how?

[2020-04-13 17:19] arunasank commented on #33
Example: original image
![huawei_0001](https://user-images.githubusercontent.com/3166852/79142247-3320ca80-7d89-11ea-9a26-eb6dc64d211f.png)

Example: extracted + aligned image. You can see teh difference in the colours (purple instead of blue) as well as a change in the tilt. This image is straightened out, while the face in the original image has a tilt.
![smile-huawei_0001_01 npy-0](https://user

[2020-04-13 19:47] arunasank commented on #33
There is also a change in the colouring of the original image and the aligned image. How can these be reversed?

[2020-04-22 20:59] #33 closed

[2020-05-06 04:05] ahmedshingaly opened #34 "Join Stylegan encoder research"
Dear Puzer,
I am currently working on stylegan encoder for architecture design opportunities. I was wondering how can I join your research lab and collaborate with you guys.
I am a PhD candidate in Chung Ang University, South Korea.
contact me on: ahmedshingaly@gmail.com
best regards
Ahmed Khairadeen Ali

[2020-05-19 10:22] ApurvaDani commented on #29
Facing a similar error.
Did you find a solution for this?

[2020-05-26 14:50] KShivendu commented on #29
Nope.

[2020-05-28 04:09] ramapinnimty commented on #27
@sandhyalaxmiK Can you please tell how did you solve it?

[2020-05-29 07:20] ahmedshingaly opened #35 "shape (1, 12, 512) to (1, 18, 512)?"
how can I create stylegan model with (1, 18, 512)
my stylegan model is creating shape (1, 12, 512) and I cannot find the latent space developed by Puzer because of shape difference

in more details:
my model produce shape with (1, 12, 512) using (https://github.com/NVlabs/stylegan)
but when I use stylegan encoder (https://github.com/Puzer/stylegan-encoder) to find latent space it requires (1, 18,

[2020-05-29 12:03] eps696 commented on #35
number of layers depends on the model resolution. (1,18,512) is for 1024x1024, (1,12,512) is for 128x128. you should either take bigger model, or manually change that hard-coded shape.

[2020-06-17 16:26] ramapinnimty opened #36 "I just found a project that allows controlling a bunch of StyleGAN features through UI knobs:"
I just found a project that allows controlling a bunch of StyleGAN features through UI knobs:
https://github.com/SummitKwan/transparent_latent_gan

Being a total newbie at machine learning, I'm wondering, what are the main differences between Puzer's approach and transparent_latent_gan?

Another issue - transparent_latent_gan is using the smaller CelebA dataset, so that might be the reason why som

[2020-06-17 16:27] ramapinnimty commented on #36
@pbaylies, @pender, @rolux Please help me by telling a way to disentangle the features. Thanks in advance.

[2020-06-23 11:26] Michi-123 opened #37 "About 'Google Drive quota exceeded' error."
I got  'OSError: Google Drive quota exceeded' on Play_with_latent_directions.ipynb, especially line at 'dnnlib.util.open_url'.

I don't know how to fix it.

Environment:
Google Colab
tensorflow-gpu==1.14

Running with bellow command.
!git clone https://github.com/Puzer/stylegan-encoder.git

[2020-06-25 15:34] xn-ml-sia opened #38 "colab cant run missing packages"
Hi can update the colab notebook. I think it's missing some requirements before step 1.

Thanks!

[2020-07-05 22:06] JavierVillegas commented on #37
One way I found to solve the same error in other lines is to copy the  karras2019stylegan-ffhq-1024x1024.pkl  model in your own google drive and replace the link  for URL_FFHQ in encode_images.py by it.
Jeff Heaton explains it in  5:11 in https://www.youtube.com/watch?time_continue=8&v=RPGOPrkieTE&feature=emb_logo

[2020-07-06 11:13] Michi-123 commented on #37
Thanks a lot.

[2020-07-07 22:42] #37 closed

[2020-07-08 16:57] blin106 commented on #18
Hi,

Was this issue fixed? I am getting black output images as well when I use my own trained network.

Thanks

[2020-07-16 17:07] mlstudent2 opened #39 "Basic Usage Question"
I apologize if I overlooked it and if this isn't an "issue", but I couldn't find any basic steps/commands needed to reproduce the change in expression found in the teaser image:
https://raw.githubusercontent.com/Puzer/stylegan-encoder/master/teaser.png

I was able to encode an image successfully using the commands in the readme but I can't seem to find any documentation on modifying the expression

[2020-09-01 10:56] ChengBinJin commented on #36
@ramapinnimty You can refer to the [GANSpace](https://github.com/harskish/ganspace) and [InterfaceGAN](https://github.com/genforce/interfacegan). Both of the methods focus on disentangled directions. The first one uses PCA with unsupervised, the second one uses the idea of linear projection.

[2020-09-01 11:03] ChengBinJin commented on #31
@WJ-Lai The smile direction was found in W space, but the Puzer's encoded latent from W+ space.

[2020-09-02 06:26] progmars commented on #36
I, too, got curious and played with GANSpace a bit.

The conclusions are as follows.
While limiting components to layers helps a lot for disentangling some minor features (color, background(, still it is not good enough for major features (age, gender, beard, glasses) because they are too much entangled with each other.

I suspect the source of the problem is that GAN was trained on images of diff

[2020-09-24 13:08] tg-bomze commented on #7
I had the following error:

`ValueError: Dimension 1 in both shapes must be equal, but are 18 and 12. Shapes are [1,18,512] and [?,12,128]`

My pre-trained model differs in dimension from those parameters in hardcode. Indeed, the model for generating abstractions (https://drive.google.com/file/d/1RQ2SKnJYaCzJgkCJVsUrtkwFUpyU6_yh/view?usp=sharing) was trained on 128x128 images. I went into the **ge

[2020-10-07 12:13] ThinhITK57 opened #40 "tensorflow.python.framework.errors_impl.InvalidArgumentError"
- I am try to run encode_image.py, and get  2 root error(s) found:
(0) Invalid argument: You must feed a value for placeholder tensor 'G_synthesis_1/_Run/dlatents_in' with dtype float
	 [[{{node G_synthesis_1/_Run/dlatents_in}}]]
  (1) Invalid argument: You must feed a value for placeholder tensor 'G_synthesis_1/_Run/dlatents_in' with dtype float
	 [[{{node G_synthesis_1/_Run/dlatents_in}}]]
	 [[G

[2020-10-10 10:33] JohnParkerLee commented on #29
Trying to set 'get links' settings to 'Anyone with the link'
![image](https://user-images.githubusercontent.com/39893619/95652901-ff9bde80-0b26-11eb-8dc2-adf78736a3b3.png)

[2020-10-31 10:15] dk175814 opened #41 "Download couldn't happen from url, error in functions used in file named network.py and encode"
while running the code:
generator = Generator(Gs_network, batch_size=1, randomize_noise=False)

multiple function error are popped up pointing to encode_image.py and network.py files

[2020-10-31 10:16] dk175814 opened #42 "Download couldn't happen from url, error in functions used in file named network.py and encode_image.py"
while running the code:
generator = Generator(Gs_network, batch_size=1, randomize_noise=False)

multiple function error are popped up pointing to encode_image.py and network.py files
Please contact as soon as possible

[2020-10-31 10:17] #41 closed

[2020-11-12 15:22] Vova-B opened #43 "How can I speed up the encode_image.py process?"

[2020-11-20 06:51] molo32 opened #44 "why is an optimizer used in something that is not a neural network?"
Can someone tell me the intuition of applying an optimizer (descending gradient, adam) to the latent code.

the optimizer looks for the image in the latent space, the latent space is updated instead of the weights of a neural network.

Why does it work in this case, since it is not the weights of a neural network that is updated?

How does the optimizer know the latent code that represents the inp

[2020-12-12 21:48] aomv opened #45 "samples needed to learn a direction"
Hi!

How many samples on average did you use to learn the latent directions you provide?

Is it bigger than 10k samples?

thanks

[2020-12-28 15:33] eluzzi5 opened #46 "KeyError: "The name 'G_synthesis_1/_Run/concat:0' refers to a Tensor which does not exist. The operation, 'G_synthesis_1/_Run/concat', does not exist in the graph.""
Getting this error after running the following with TensorFlow 1.x in Google Colab on a GPU runtime:
!python encode_images.py aligned_images/ generated_images/ latent_representations/ --iterations 1000

Full error:
Traceback (most recent call last):
  File "encode_images.py", line 80, in <module>
    main()
  File "encode_images.py", line 53, in main
    generator = Generator(Gs_network, args.batc

[2020-12-28 22:34] eluzzi5 opened #47 "ModuleNotFoundError: No module named 'encoder'"
I have cloned the stylegan-encoder repository and installed encoder. I am running the code straight from Play_with_latent_directions.ipynb. Any ideas why I'm getting this error?

[2020-12-28 22:40] #47 closed

[2021-01-02 19:04] dagdelenmustafa commented on #46
Could you find a solution ?

[2021-01-02 22:59] eluzzi5 commented on #46
No, I could not :(  Can anyone help?

[2021-01-04 21:37] dagdelenmustafa commented on #46
Hey @eluzzi5 !!!

I just discover that this repo uses tensorflow 1.14 and if you work on colab the versions does not match. And sometimes although the colab displays you are using GPU environment, tensorflow don't see your GPUs. So if you follow the following steps your problem might be solved.

Uninstall current tensorflow and install tensorflow 1.14:
`!pip uninstall -y tensorflow-gpu`
`!pip unin

[2021-01-05 09:14] dagdelenmustafa opened #48 "Generated images color was deformed"
Hi everyone,

I got the results as follow. I tried to convert RGB with a couple of way but they didn't work. Is there anyone who has an opinion what cause this ?

![image](https://user-images.githubusercontent.com/17531296/103627715-0b911400-4f4f-11eb-9f52-516503a5ef6e.png)

[2021-01-06 14:38] eluzzi5 commented on #46
@dagdelenmustafa That fixed everything for me! Thank you SO much!

[2021-01-06 14:38] #46 closed

[2021-01-06 15:11] eluzzi5 opened #49 "Syntax error in encode_images.py"
File "/content/stylegan-encoder/encode_images.py", line 73
    img.save(os.path.join(args.generated_images_dir, f'{img_name}.png'), 'PNG')

Can anyone please help me? Thank you!

[2021-01-06 15:39] eluzzi5 commented on #49
@dagdelenmustafa I'm the same person who you helped with the previous error which had to do with tensorflow. I suspect this issue has something to do with that as well. I don't mean to call you out but I was wondering if you encountered this as well. Thank you so much!

[2021-01-06 20:27] dagdelenmustafa commented on #48
I don't know why but the generator object cause this. Instead of generating images with generator with dlatent, just use synthesis network to generate image from dlatent.

[2021-01-06 20:27] #48 closed

[2021-01-10 01:07] Michi-123 opened #50 "Use of latent directions"
Thanks.

[2021-01-13 12:49] #50 closed

[2021-01-27 04:10] akshaysravindran commented on #8
Confused by this as well. I could not find a good justification for this number or how the scale should change w.r.t. input or architectural changes. Any updates on this?

[2021-02-06 06:29] Michi-123 opened #51 "Can't download Learn_direction_in_latent_space.ipynb"
I can't download Learn_direction_in_latent_space.ipynb in Learn_direction_in_latent_space.ipynb.

`HTTPError: 404 Client Error: Not Found for url: https://drive.google.com/uc?id=1xMM3AFq0r014IIhBLiMCjKJJvbhLUQ9t`
Thanks.

[2021-03-02 17:56] MaskeZen commented on #38
Yes, if any can share the `requirements.txt` file I will appreciate a lot.
In my environment I cant get run it.

[2021-04-19 23:49] mindblowingaiart opened #53 "lines of code to crop and resave a collection of images to Gdrive"
Hi, whats all the lines of code needed to crop and resave images from and back to Gdrive? All I want to do is crop the images, like FFHQ crop, and then resave the images, thanks !

[2021-04-21 07:53] diaodeyi commented on #30
+1

[2021-05-06 22:19] rockdrigoma opened #54 "Reduce encode_images.py time by using one model instance"
Hi, I am trying to decrease generation time. So far I am getting 2 min and 20 seconds per image (generating 10 images as output for age).
What I am realizing is that encode_images.py is taking this long for each input image:

1.  Initializing generator : 7.2106 secs
2.  Creating PerceptualModel : 9.0305 secs
3.  Loading Resnet model : 23.0473 secs
4.  Loop loss : 1.0582 secs
5.  Loop loss : 0.0619

[2021-05-17 14:47] rockdrigoma commented on #43
I really know how to do this. At least how to reuse objects in encode_image.py

[2021-05-18 02:30] #43 closed

[2021-05-18 05:06] rockdrigoma commented on #43
@Vova-B hi, did you find out how to do this?

[2021-06-10 12:21] dagdelenmustafa commented on #51
@Michi-123 Any update ?

[2021-06-12 03:46] Michi-123 commented on #51
@dagdelenmustafa  No. But there was no data.

[2022-01-30 19:27] dongyun-kim-arch commented on #51
I am also looking for the data ...

[2022-01-30 20:03] pbaylies commented on #51
I just happened to have this cached, I've put a copy up for download here: https://archive.org/details/latent_training_data.pkl

[2022-07-20 17:52] NoctisZ commented on #18
@adizhol I encountered this issue as well when running _encode_images.py_ on local machine. Did you figure out a way to solve it eventually?

[2022-08-13 19:43] speedhawk opened #57 "The error of load image"
Hi, I'm trying to use 'python align_images.py raw_images/ aligned_images/' to see the latent space of my owe image data. But it threw an error reminding which is "Unknown image file format: Unable to load image in file raw_images/.ipynb_checkpoints". I run this model on colab. Can anyone help me to fix this problem? Many thanks!!

[2022-08-31 04:04] NoctisZ opened #58 "Work with StyleGAN3?"
Just wondering if there's any variant of StyleGAN-Encoder (or other optimization-based method) that works with StyleGAN3? Any information would be greatly appreciated!